{% extends "index.html" %}

{% block title %}{{ page.title }} &middot; {{ config.title }}{% endblock title %}
{% block description %}{{ page.description | default(value=config.description) }}{% endblock description %}

{% block ogtitle %}{{ page.title }}{% endblock ogtitle %}
{% block ogdesc %}{{ page.description }}{% endblock ogdesc %}
{% block ogurl %}{{ page.permalink | safe }}{% endblock ogurl%}
{% block ogimage -%}
  {%- if page.extra.image -%}{{ get_url(path=page.extra.image) | safe }}
  {%- elif config.extra.ogimage -%}{{ get_url(path=config.extra.ogimage) | safe }}
  {%- endif -%}
{%- endblock ogimage %}

{% block content %}

<article>
  <header class="{{ page.extra.header_color }} sans-serif">
    <div class="mw9 center pa4 pt5-ns ph7-l">
      <a href="/" class="f6 mb2 link dim ttu tracked fr {{ page.extra.alt_text_color }}"><small>Back</small></a>

      <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
        <span class="{{ page.extra.text_color }} lh-copy pa1 tracked-tight">
          {{ page.title }}        
        </span>
      </h3>
      <h5 class="f6 ttu tracked {{ page.extra.alt_text_color }}">By {{ config.title }}</h5>
      
    </div>
  </header>
  <div class="pa4 ph7-l georgia mw9-l center f5 f4-ns lh-copy measure">
      {{ page.content | safe }}
  </div>
</article>
{% endblock content %}
